body {
    color: #676D6F;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
    background-color: #f4f4f4;
    min-width: 1400px;
}
html, body {
    min-height: 100% !important;
    height: 100%;
}